<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new Post</title>

    <!-- Header -->
    <%include layouts/head %>

    <!-- Include stylesheet -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.39/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.39/jodit.min.js"></script>
</head>
<body>

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">
        <%include layouts/header %>
    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">
        <div class="row">
            <form method="POST" action="/post/create">
                <input type="text" class="full-width"  name="title" placeholder="Title" />
                
                <select class="full-width" name="image">
                    <option value="">Please choose</option>
                    <% for(var i=0; i<images.length; i++) { %>
                        <option value="<%=images[i]._id%>">
                            <%=images[i].url%>
                        </option>
                    <% } %>
                </select>
                <h5>Categories: </h5>
                <% for(var i=0; i<categories.length; i++) { %>
                <input type="checkbox" class="form-check-input" name="categories" value="<%=categories[i].name%>"> <%=categories[i].name%> 
                <% if((i+1)%3 == 0){ %><br/><%}%>
                <% } %>
                <br />
                <textarea id="editor" name="content"></textarea>
                <br />
                <input type="submit" class="btn btn-primary" />
            </form>
        </div>
        
        <br/>
        <br/>
    </section> <!-- s-content -->

    <!-- Footer -->
    <%include layouts/footer %>

    <script>
        var editor = new Jodit('#editor', {
            theme: "summer"
        });
    </script>

</body>
</html>